body {
  background-color:#DAEEF5;
  color:#202020;
  font-size:16px;
  font-family:'Proxima Nova',Helvetica,Sans-serif;
}

nav {
  background-color:#45A2FC;
  position:absolute;
  width:100%;
  margin-bottom::10px;
}

.logo {
  margin:20px;
  width:100px;
}

.large-pic {
  width:100%;
}

.medium-pic {
  width:70%;
  padding:10px;
}

.left {
  float:left;
  width:50%;
  padding-top:20px;
  padding-left:10px;
}

.right {
  float:right;
  color:white;
  font-size:20px;
}

ul {
  list-style-type:none;
  float:right;
}

li {
  float:right;
  padding:30px;
}

article {
  padding-top: 120px;
}

.container {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-size:40px;
  font-weight:bold;
}

h3 {
  font-size:15px;
  color: #343536;
  line-height: 1.4;
   }

p {
  line-height:1.2;
  color:#343536;
}

.story-text {
  font-size:16px;
  color:#343536;
  line-height:2;
}

.author {
  font-weight:bold;
  font-size:18px;
}

figcaption{
  text-align:center;
  font-size:18px;
  padding-top:5px;
  line-height:1.2;
}

.medium-pic{
  display:block;
  margin:auto;
}

a:link { color:#0070BB; } /* unvisited */
a:visited { color:#333333; } /* visited */
a:hover { color:#FFFFFF; } /* mouse over */
a:active { color:#0070BD; }
a {
  text-decoration: none;
}
